* {
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Raleway', sans-serif;
}

.nav-link{
  color: white !important;
}

.registration {
  max-width: 800px !important;
  margin: 50px auto !important;
  position: relative !important;
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1) !important;
  padding: 30px !important;
}

.registration h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.register-col, .loginForm {
  margin: auto;
}

.form-field {
  position: relative !important;
  margin: 32px 0 !important;
}

.label {
  width:  100% !important;
}
.inputs {
  display: block !important;
  width: 100% !important;
  border-width: 0 0 2px 0 !important;
  border-color: #5543ca !important;
  border-radius: 50px !important;
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 400 !important;
  padding-left: 20px !important;
}
.inputs:focus {
  padding-left: 20px !important;
}
::placeholder{
  left: 20px !important;
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 400 !important;
  color: #5543ca !important;
  cursor: text !important;
  text-transform: capitalize !important;
  transition: transform 0.2s ease-in-out !important;
}
.button {
  text-align: center !important;
}

.submit-btn {
  display: inline-block;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
  border-radius: 50px;
}

.productList .btn-primary {
  
    border: 3px solid gray;
    background: rgba(0,0,0,-0.5);
    color:  gray;
    width: 100%;

}
.productList .btn-primary:hover {
  background: gray ;
  color:  white;
  border: 3px solid gray;
}

Button.buyNow-btn:hover{
    border: 3px solid gray;
    background: rgba(0,0,0,-0.5);
    color:  gray;
    width: 30%;
}
.product-view, .editProduct-img {
  text-align: center !important;
  margin:  auto;
}

@media screen and (min-width: 600px) {
  .formHorizontal {
    width: 20% !important;
  }
}


.productImg {
  margin: auto;
}

Button.buyNow-btn {
  background: gray ;
  color:  white;
  border: 3px solid gray;
  width: 30%;
}

.fullwidth-text,h1 {
  line-height: 2em;
  text-align: center;
}

.footer {
  background: #353535;
  color: white;
  padding: 0 3%;
  padding-bottom: 3%;
}

.follow-us, .cust-service, .about-brand,.prodImage {
  text-align: center;
}
